<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  <!-- Scripts padrão -->
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/mainpage.js') }}"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <h3 class="text-muted">Process Manager</h3>
        </div>

        <div class="form-group">
            <label for="inputdefault">Search for:</label>
            <input id="searchbox" class="form-control" type="text">
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Processes List</div>
			<!-- Table -->
            <table id="proctable" class="table">
				<thead id="proctable-header">
                	<tr id="tableheader">
                	{% for label in labels%}
                  		<th>{{label}}</th>
                	{% endfor %}
                	</tr>
				</thead>
				<!-- div class="scrollbody"-->
				<tbody id="proctable-body">
                {% for proc in processes %}
                	{% autoescape false %}
                	<tr>
                   	{% for label in labels%}
                      	<td>{{proc[label]}}</td>
                    {% endfor %}
                	</tr>
                	{% endautoescape %}
                {%endfor%}
				</tbody>
				<!--/div-->
            </table>
        </div>

		<div class="panel panel-default" >
			<div class="panel-heading">Control of processes</div>

			<form class="form-inline" id="control-of-processes" onsubmit="return false;">
			<input type="number" class="form-control" id="pidInput" placeholder="PID">
        	<button class="btn btn-warning" id="pause-process">Pause</button>
	        <button class="btn btn-primary" id="continue-process">Continue</button>
    	    <button class="btn btn-danger" id="kill-process">Kill</button>
        	<input type="number" class="form-control" id="cpuNumberInput" placeholder="CPU Number">
        	<button class="btn btn-success" id="set-cpu">Set CPU</button>
			</form>
			
		</div>
	
		<!--input type="number" class="form-control" id="pidInput" placeholder="PID">
		<button class="btn btn-warning" id="pause-process">Pause</button>
		<button class="btn btn-primary" id="continue-process">Continue</button>
		<button class="btn btn-danger" id="kill-process">Kill</button>
        <input type="number" class="form-control" id="cpuNumberInput" placeholder="CPU Number">
        <button class="btn btn-warning" id="set-cpu">Set CPU</button-->

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>
