#processes-panel {
	height: 400px;
	overflow: scroll;
}

#control-of-processes {
	margin: 10px;
	text-align: center;
}

td.namecol {
	padding-left: 10px;
}

td.progresscol {
	width: 100%;
	padding: 15px;
}

.customprogress {
	margin-bottom: 0px;
}
